@model Validus.Models.User

<form id="formCreateEditUser">
    <span class="label label-info" data-bind="visible: personalSettingsTitle_Visible">Personal Settings</span>
    <div class="container-fluid" id="divTopButtonArea" data-bind="visible: showDivTopButtonArea">
        <div class="row-fluid">
            <div class="span12">

                <a href="#" title="Create New User" data-bind="click: click_ShowCreateUser, visible: createNewUserBtn_Visible" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>Create New User</a>
                <a href="#" title="Search For User" data-bind="click: click_ShowSearchArea, visible: searchForUserBtn_Visible" class="btn btn-primary"><i class="icon-search icon-white"></i>Search For User</a>

                <hr />
            </div>
        </div>
    </div>

    <div class="container-fluid" id="divUserSearchArea" data-bind="visible: showDivUserSearchArea">


        <div class="row-fluid">
            <div class="span12">
                <span class="label label-info">Search For User To Edit</span>

            </div>
        </div>

        <div class="row-fluid">

            <div class="span4">

                <p>Select a Team</p>
                <p>
                    <select data-bind="options: teamList, optionsText: 'Title', optionsValue: 'Id', value: selectedTeam" size="20"></select>
                </p>
                <!-- , event: {click : onTeamSelected } -->

            </div>
            <div class="span4">

                <p>Select User in Team</p>
                <p>
                    <select data-bind="options: userList, value: selectedUserName" size="20"></select>
                </p>
                <!-- , event: {click : onUserSelected } -->

            </div>

            <div class="span4">
                <p>Search All Users</p>
                <p>
                    <input type="text" placeholder="Search for User" class="input-medium search-query" data-bind="value: searchUserNameTxt" style="width: 200px">
                    <a href="#" title="Search for User" data-bind="click: click_SearchForUser" class="btn btn-primary"><i class="icon-search icon-white"></i></a>
                </p>

                <p>
                    <div style="overflow: auto; width: auto; height: 100px">
                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate" border="0">
                            <caption>Users Returned by Search</caption>
                            <thead>
                                <tr>


                                    <th>Logon Name</th>
                                </tr>
                            </thead>
                            <tbody data-bind="template: { foreach: userSearchList }">

                                <tr href="#" data-bind="event: { click: $parent.onUserSearchListSelected }">
                                    <td><span data-bind="text: $data.DomainLogon"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p>

            </div>

        </div>


        <div class="row-fluid">
            <div class="span12">
                <hr />
            </div>
        </div>
    </div>



    <div class="container-fluid" data-bind="with: userToManage" id="divCreateEditUser" class="collapse">
        <div class="row-fluid">
            <div class="span12">

                <table border="0" style="border-color: lightgray" width="100%">
                    <tr>
                        <td width="20%">Logon Name:</td>
                        <td width="20%">
                           

                            <input type="text" data-bind="'bootstrap-typeahead': {
    url: window.ValidusServicesUrl + 'User',
    data: DomainLogon,
    options: { labelField: 'UserName', valueField: 'UserName' },
    onInvalid: $parent.Functions.InvalidUserSelected,
}, enable: $parent.enableUserDetailsEdit"
                                required />

                        </td>
                        <td width="10%">
                            <img id="imageProcessing_LoadUser" src="@Url.Content("~/Content/images/animated_progress.gif")"  style="height: 20px; width:20px;"  data-bind="style: { display: $parent.showImageProcessing_LoadUser }" />
                        </td>
                        <td rowspan="5">

                            <!-- Table -->
                            <div id="divAddRemoveTeamMembershipsArea" data-bind="visible: $parent.showDivAddRemoveTeamMembershipsArea">
                                <table border="0" style="border-color: black" width="100%">

                                    <tr>
                                        <td align="center"><span class="label label-info">Add/Remove Team Memberships</span>
                                            <div style="overflow: auto; width: auto; height: 150px">
                                                <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                                    <caption>All Team Memberships</caption>
                                                    <thead>
                                                        <tr>
                                                            <th>Team Title</th>
                                                            <th>Start Date</th>
                                                            <th>Primary Team?</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="template: { foreach: AllTeamMemberships }">

                                                        <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">
                                                            <td>
                                                                <input type="hidden" data-bind="value: $data.Team().Id" />
                                                                <span data-bind="text: $data.Team().Title"></span>
                                                            </td>
                                                            <td>-</td>

                                                            <td>-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <p>
                                                <a href="#" title="Add" data-bind="click: $parent.click_AddTeamMemberships, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-down icon-white"></i></a>
                                                <a href="#" title="Remove" data-bind="click: $parent.click_RemoveTeamMemberships, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-up icon-white"></i></a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="overflow: auto; width: auto; height: 150px">
                                                <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                                    <caption>Current Team Memberships</caption>
                                                    <thead>
                                                        <tr>
                                                            <th>Team Title</th>
                                                            <th>Start Date </th>
                                                            <th>Primary Team?</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="template: { foreach: TeamMemberships }">

                                                        <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">
                                                            <td>
                                                                <input type="hidden" data-bind="value: $data.Team().Id" />
                                                                <span data-bind="text: $data.Team().Title"></span>
                                                            </td>
                                                            <td><span data-bind="text: $data.StartDate"></span></td>
                                                            <td>
                                                                <i data-bind="cancelBubbleClickEvent:
                                                                         ConsoleApp.vmManageUsers.click_PrimaryTeamMembership, css: $data.setIcon"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- End Table -->


                        </td>
                    </tr>
                    <tr>
                        <td>Primary Office:</td>
                        <td>
                            <select data-bind="options: PrimaryOfficeList, optionsText: 'Title', value: PrimaryOffice"></select>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>Default Originating Office:</td>
                        <td colspan="2">
                            <select data-bind="options: DefaultOrigOfficeList, optionsText: 'Title', value: DefaultOrigOffice"></select>
                        </td>
                    </tr>
                    <tr data-bind="visible: $parent.showDefaultBroker">
                        <td>Default Broker:</td>
                        <td colspan="2">
                            
                            
                            
                            @Html.TextBoxFor(model => model.DefaultBroker, new Dictionary<string, object> 
							{ 
								{ "id", ""},
								{ "data-bind", "bootstrap-typeahead: " +
												"{ " +
													"url: window.ValidusServicesUrl + 'Broker', " +
													"data: $parent._DefaultBroker, " +
													"options: { uniqueField: 'Id', labelField: 'Name', valueField: 'Id' } " +
												"}" }
							})
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Default Underwriter:</td>
                        <td colspan="2">
                            <select data-bind="options: DefaultUWList, optionsText: 'DomainLogon', value: DefaultUW"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Underwriter:</td>
                        <td colspan="2">
                            @Html.TextBoxFor(model => model.Underwriter, new Dictionary<string, object> 
							{ 
								{ "id", ""},
								{ "data-bind", "bootstrap-typeahead: " +
												"{ " +
													"url: window.ValidusServicesUrl + 'Underwriter', " +
													"data: $parent._Underwriter, " +
													"options: { uniqueField: 'Code', labelField: 'Name', valueField: 'Code' } " +
												"}" }
							})
                        </td>
                    </tr>
                   
                    <tr>
                        <td>Active?</td>
                        <td colspan="2">
                            <input type="checkbox" data-bind="checked: IsActive, enable: $parent.enableUserDetailsEdit" /></td>
                    </tr>
                </table>



            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <hr />
            </div>
        </div>


        <!-- Select List Section -->

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul id="filtersTab" class="nav nav-tabs">
                        <li class="active"><a href="#filterCobs" data-toggle="tab">Filter COBs</a></li>
                        <li class=""><a href="#filterOffices" data-toggle="tab">Filter Offices</a></li>
                        <li class=""><a href="#filterMembers" data-toggle="tab">Filter Members</a></li>
                    </ul>
                    <div id="filtersTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="filterCobs">
                            <!-- Filter COBs -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Filter COBs</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate" width="100%">
                                            <caption>All Filter COBs</caption>
                                            <thead>
                                                <tr>
                                                    <th>Narrative</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllFilterCOBs }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Narrative"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveFilterCOBs, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddFilterCOBs, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate" width="100%">
                                            <caption>Current Filter COBs</caption>
                                            <thead>
                                                <tr>
                                                    <th>Narrative</th>

                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: FilterCOBs }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Narrative"></span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <br />
                                </div>
                            </div>
                            <!-- End Filter COBs -->
                        </div>
                        <div class="tab-pane fade" id="filterOffices">
                            <!-- Filter Offices. -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Filter Offices</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>All Filter Offices</caption>
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllFilterOffices }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Title"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveFilterOffices, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddFilterOffices, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>Current Filter Offices</caption>
                                            <thead>
                                                <tr>


                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: FilterOffices }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Title"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <br />
                                    </div>
                                </div>

                            </div>
                            <!-- End Filter Offices -->
                        </div>

                        <div class="tab-pane fade" id="filterMembers">
                            <!-- Filter Members -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Filter Members</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>All Filter Members</caption>
                                            <thead>
                                                <tr>
                                                    <th>DomainLogon</th>
                                                    <th>Primary Team</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllFilterMembers }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.DomainLogon"></span>
                                                    </td>
                                                    <!-- ko if:  $data.TeamMemberships().length>0 -->
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.TeamMemberships()[0].Team().Title"></span>
                                                    </td>
                                                    <!-- /ko -->
                                                    <!-- ko if:  !$data.TeamMemberships().length>0 -->
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                    </td>
                                                    <!-- /ko -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveFilterMembers, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddFilterMembers, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>Current Filter Members</caption>
                                            <thead>
                                                <tr>
                                                    <th>DomainLogon</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: FilterMembers }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.DomainLogon"></span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!-- End Filter Members -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul id="additionalTab" class="nav nav-tabs">
                        <li class="active"><a href="#additionalCobs" data-toggle="tab">Additional COBs</a></li>
                        <li class=""><a href="#additionalOffices" data-toggle="tab">Additional Offices</a></li>
                        <li class=""><a href="#additionalUsers" data-toggle="tab">Additional Members</a></li>
                    </ul>
                    <div id="additionalTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="additionalCobs">
                            <!-- Additional Cobs -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Additional COBs</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>All Additional COBs</caption>
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllAdditionalCOBs }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <input type="hidden" data-bind="value: $data.Id" />
                                                    <td><span data-bind="text: $data.Narrative"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveAdditionalCOBs, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddAdditionalCOBs, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>Current Additional COBs</caption>
                                            <thead>
                                                <tr>
                                                    <th>Narrative</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AdditionalCOBs }">
                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Narrative"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!-- End Additional Cobs -->
                        </div>
                        <div class="tab-pane fade" id="additionalOffices">
                            <!-- Additional Offices -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Additional Offices</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate" width="100%">
                                            <caption>All Additional Offices</caption>
                                            <thead>
                                                <tr>

                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllAdditionalOffices }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Title"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveAdditionalOffices, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddAdditionalOffices, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>Current Additional Offices</caption>
                                            <thead>
                                                <tr>


                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AdditionalOffices }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.Title"></span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!-- End Additional Offices -->
                        </div>
                        <div class="tab-pane fade" id="additionalUsers">
                            <!-- Additional Users -->
                            <div class="row-fluid">
                                <span class="label label-info">Add/Remove Additional Users</span>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>All Additional Users </caption>

                                            <thead>
                                                <tr>

                                                    <th>DomainLogon</th>
                                                    <th>Primary Team</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AllAdditionalUsers }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">

                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.DomainLogon"></span>
                                                    </td>
                                                    <!-- ko if:  $data.TeamMemberships().length>0 -->
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.TeamMemberships()[0].Team().Title"></span>
                                                    </td>
                                                    <!-- /ko -->
                                                    <!-- ko if:  !$data.TeamMemberships().length>0 -->
                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                    </td>
                                                    <!-- /ko -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="span2 pagination-centered">
                                    <p>
                                        <a href="#" title="Remove" data-bind="click: $parent.click_RemoveAdditionalUsers, css: { 'disabled': $parent.remove_Status() }" class="btn btn-primary"><i class=" icon-chevron-left icon-white"></i></a>
                                        <a href="#" title="Add" data-bind="click: $parent.click_AddAdditionalUsers, css: { 'disabled': $parent.add_Status() }" class="btn btn-primary"><i class=" icon-chevron-right icon-white"></i></a>
                                    </p>
                                </div>
                                <div class="span5">
                                    <div style="overflow: auto; width: auto; height: 200px">
                                        <table width="100%" class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                                            <caption>Current Additional Users</caption>
                                            <thead>
                                                <tr>
                                                    <th>DomainLogon</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { foreach: AdditionalUsers }">

                                                <tr data-bind="event: { click: ConsoleApp.vmManageUsers.onClickSetSelectedItem }">


                                                    <td>
                                                        <input type="hidden" data-bind="value: $data.Id" />
                                                        <span data-bind="text: $data.DomainLogon"></span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!-- End Additional Users -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Select List Section -->

        <!-- Save section -->

        <div class="row-fluid">
            <div class="span12">
                <hr />
                <br />
                <br />
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12" align="right">
                <table border="0">
                    <tr>
                        <td width="30px">
                            <img id="imageProcessingScreen" src="@Url.Content("~/Content/images/animated_progress.gif")"  style="height: 20px; width:20px;"  data-bind="style: { display: $parent.showImageProcessing_SavingUser }" />
                        </td>
                        <td>
                            <a href="#" title="Save User" data-bind="click: $parent.click_SaveUser, css: { 'disabled': $parent.saveUser_Status() }, enable: $parent.saveUser_Status()" class="btn btn-primary"><i class="icon-pencil icon-white"></i>Save User</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- End Save Section -->

    </div>
</form>

