@model IEnumerable<Validus.Console.DTO.UserTeamAcceleratorDto>

@{
    Layout = null;
}
@foreach (var item in Model)
{
    <table>
        @foreach (var acceleratorItem in item.AppAcceleratorDtos)
        {
            <tr>
                <td>
                  <b>  @item.CategoryName</b>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    @acceleratorItem.DisplayName
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <a href="#" title="Install/Upgrade Accelerator"  onclick="window.external.AddService('/Admin/GetAcceleratorMetaDataById?Id=@acceleratorItem.Id')" class="btn btn-primary"><i class="icon-download-alt icon-white"></i></a>
                </td>

            </tr>
            
        }
    </table>
}