<div class="val-caption">
                                <strong>Search Results</strong>
                                    <input type="checkbox" class="pull-right" title="Apply Profile Filters" data-bind="checked: ESApplyProfileFilters, attr: { title: ProfileFilterSummary }, visible: AllowProfileFilterControl" />
                                    <i class="icon-refresh icon-white pull-right" title="Refresh" data-bind="click: function() { Val_Search();}"></i>
                                    <i class="icon-resize-full icon-white pull-right" title="Maximize" data-bind="css: { hide: ESMin() === false }, click: function() {ESMin(false);}"></i>
                                    <i class="icon-resize-small icon-white pull-right" title="Minimize" data-bind="css: { hide: ESMin() === true }, click: function() {ESMin(true);}"></i>             
                                <div class="val-searching hide">Searching...</div>
                            </div>
                            <div class="row-fluid">
                                <div class="val-search-results span12" data-bind="css: { hide: ESMin() === true }">
                                    <div class="val-padding">
                                        <span>No search term</span>
                                    </div>
                                </div>
                            </div>