<div class="row-fluid">
                        <div class="span12 template-section-padding" data-bind="visible: showSection1">
                            <!-- ko template: {name: templateSection1, afterRender: afterRenderSection1_DomFunction } -->
                            <!-- /ko -->
                        </div>
</div>