<div class="row-fluid">
                        <div class="span6 template-section-padding" data-bind="visible: showSection1">
                            <!-- ko template: {name: templateSection1, afterRender: afterRenderSection1_DomFunction } -->
                            <!-- /ko -->
                        </div>
                        <div class="span6 template-section-padding" data-bind="visible: showSection2">
                            <!-- ko template: {name: templateSection2, afterRender: afterRenderSection2_DomFunction } -->
                            <!-- /ko -->
                        </div>

</div>