
            <div class="row-fluid">
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span12 template-section-padding" data-bind="visible: showSection1">
                            <!-- ko template: {name: templateSection1, afterRender: afterRenderSection1_DomFunction } -->
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 template-section-padding" data-bind="visible: showSection2">
                            <!-- ko template: {name: templateSection2, afterRender: afterRenderSection2_DomFunction } -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 template-section-padding" data-bind="visible: showSection3">
                            <!-- ko template: {name: templateSection3, afterRender: afterRenderSection3_DomFunction } -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 template-section-padding" data-bind="visible: showSection4">
                            <!-- ko template: {name: templateSection4, afterRender: afterRenderSection4_DomFunction } -->
                            <!-- /ko -->
                        </div>
                    </div>
                    
                </div>
                <div class="span4 template-section-padding" data-bind="visible: showSection5">
			        
                    <!-- ko template: {name: templateSection5, afterRender: afterRenderSection5_DomFunction} -->
                    <!-- /ko -->

                </div>
                
            </div>